
/*---------BODY---------*/
body{
    font-family:'Roboto',sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3{
    margin: 0;
}

img{
    display: block;
}


/*.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}*/


.container{
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}


/*---------HEADER------*/

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container{
    display: flex;
    justify-content: space-between;
    /*text-align: center;*/
    align-items: center;
    
}

.header-navigation{
    display: flex;
    align-items: center;
}

.link-logo {
    font-family:'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding: 16px 0;
    display: block;
    /*padding: 24px 0;
    /*margin-right: 76px;*/
}

.logo-navigation {
    color: #2E2F42;
}

.nav-list { 
    display: none;
    /* display: flex;
    gap: 40px;*/
}

.nav-item {}

/*.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current{
    position: relative;
}

.nav-link.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;

}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus, 
.nav-link.current{
    color: #404bbf;

    
}*/

.contacts {
    display: none;
    /*font-style: normal;*/
}


.address-list {
    display: none;
    /*display: flex;
    gap: 40px;
    padding: 24px 0;
    */
}

.address-link {
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

.btn-menu{
    padding: 0;
    border: none;
    background-color: transparent;
}


/*------menu-mob---*/


.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    
}



.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}



.container-mobile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 16px;

}



.btn-mob-close{
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px solid #2e2f42;
    width: 24px;
    height: 24px;

    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn {
    fill: #2e2f42;
    position: relative;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-mob-close:hover,
.btn-mob-close:focus{
    background-color: #404bbf;
    border: none;
}

.btn-mob-close:hover .icon-close-btn,
.btn-mob-close:focus .icon-close-btn {
    fill: #fff;
}






.navigation-mobile {
    margin-bottom: auto;
}

.nav-mob-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    
}

.nav-mob-item {
}

.link-mob-nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-mob-nav:hover,
.link-mob-nav:focus{
    color: #404bbf;
}

.contacts-mobile {
    margin-bottom: 48px;
}

.address-mobile-list {

}

.mob-item-contacts {
    display: flex;
    gap: 24px;
}

.link-mob-contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.link-mob-contacts:hover,
.link-mob-contacts:focus{
    color: #4d5ae5;
}

.social-list-mob{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-item {}

.social-link {}

.social-icon {}
/*------menu-mob---*/


/*---------HEADER------*/

/*---------HERO-----------*/

/*.hero{
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-color:#2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
        
    
}*/

.hero {
    min-width: 320px;
    margin: 0 auto;
    padding: 112px 0;
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/bg-mob-1x-min.jpg);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (min-resolution:2x){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-mob-2x-min.jpg);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

}
    


.main-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto;
        max-width: 216px;


}

/*---.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    border: none;
}*/

/*.button-primary {
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: #4D5AE5;
        cursor: pointer;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        margin: 0 auto;
        margin-top: 48px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/


.button-primary {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    /*cursor: pointer;*/
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    margin-top: 72px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*.button-primary:hover,
.button-primary:focus{
    background-color: #404BBF;
    
}
*/
.button-primary:active{
    background-color: #404BBF;
}

/*---------HERO-----------*/


/*---------Features------*/
.features{
    /*padding: 120px 0;*/
    padding: 96px 0;
    
}

.hidden-title {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0, 0, 0, 0);
            overflow: hidden;
        }


.subsection-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

/*.subsection-item{
    width: calc((100% - 72px) / 4);
}*/

.icon-box{
    display: none;
    /*display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;*/
}


.subsection-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.text-section {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*---------Features------*/

/*---------OUR TEAM------*/

.team {
    background-color: #F4F4FD;
   /* padding: 120px 0;*/
    padding-top: 96px;
    margin: 0 auto;
}

.sub-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    min-width: 162px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.list-items{
    display: flex;
    flex-wrap: wrap;
    
   /* gap: 24px;*/
    gap: 72px;

}


.team-title{
    text-align: center;
    margin-bottom: 8px;
}

.subsection-text {
    text-align: center;
}

.subsection-text.text-section{
    margin-bottom: 8px;
}

.photo-team{
    background-color: #FFFFFF;
    /*width: calc((100% - 72px) / 4);*/
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    
    }

.photo-team:hover,
.photo-team:focus{
    transform: translateY(24px);
}

.team-member{
    padding: 32px 0;
}


/*.social-media {
    display: flex;
    justify-content: center;
    padding: 32px 0;

}*/

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    /*padding: 0;
    margin: 0;*/
    
    
}

.social-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width:40px;
    height:40px;

}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:  #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover::before,
.social-link:focus::before {
    background-color: #404bbf;
}


.social-link:hover,
.social-link:focus{
    background-color: #404bbf;
}


.social-icon{
    fill: #F4F4FD;
    position: relative;
    
}



/*----------OUR TEAM------*/








/*----------OUR PORTFOLIO------*/
/*.portfolio {
    padding: 120px 0 120px 0;
}*/

.portfolio {
    padding: 96px 0;
    margin: 0 auto;
}

.sub-title-portfolio{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    min-width: 218px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /*row-gap: 48px;*/
}

.portfolio-item {
    width: 100%;
    /*width: calc((100% - 48px) / 3 );*/
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.portfolio-item:hover .text-app,
.portfolio-item:hover{
    transform: translateY(0);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.image-intro{
    position: relative;
    overflow: hidden;

}

.text-app{
    position: absolute;
    top: 0;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;


}

.portfolio-title {
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-bottom: 8px
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}





.app-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}




/*----------OUR PORTFOLIO------*/


/*---------FOOTER-----*/

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
    
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    /*align-items: baseline;*/

    align-items: center;
    justify-content: center;

}



.container-footer{

 /*   margin-right: 120px;*/

}


.link-logo-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: block;
    text-align: center;
    
    /*display: inline-block;*/
    margin-bottom:16px;
}

.logo-footer{
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#F4F4FD ;
        


}

.text-footer {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        max-width: 264px;
        
}







.social-footer {
    /*flex-direction: column;*/
}

.text-media {
    /*display: inline-block;*/
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height:1.5 ;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.social-list-footer{
    gap: 16px;
}


.social-item.social-item-footer{
}

.social-link.link-footer{
    height: 100%;
    width: 100%;

}

.social-link.link-footer{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link.link-footer:hover::before,
.social-link.link-footer:focus::before{
    background-color:#31d0aa;
}

.social-link.link-footer:hover,
.social-link.link-footer:focus{
    background-color: #31d0aa;
}



.form-email-footer {
    
/*  margin-left: 80px;*/
}

.text-media {

}

.form-footer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /*gap: 24px;*/
}

.footer-email {}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    /*width: 264px;
    height: 40px;*/
    width: 288px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-input::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;

}


.footer-input:hover,
.footer-input:focus {
    border-color: #31D0AA;
    outline: none;
    box-shadow: none;
    color: #FFFFFF;
}


.footer-form-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-form-btn:hover,
.footer-form-btn:focus{
    background-color: #31D0AA;
}

.icon-footer-form {
    fill: #FFFFFF;
    margin-left: 16px;
}


/*---------FOOTER-----*/


/*---------MODAL-----*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;


    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    /*width: 408px;
    min-height: 584px;*/

    width: 288px;
    min-height: 623px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    padding-top: 72px; 
    /*padding-left: 24px;
    padding-right: 24px;*/
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open).modal {
    transform: translate(-50%, -50%) scale(1,5);
}

.btn-close {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    right: 24px;
    top: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    cursor: pointer;


    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.close-images{
    fill:#2e2f42;
    position: relative;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    

}

.btn-close:hover,
.btn-close:focus{
    background-color: #404bbf;
    border: none;
}

.btn-close:hover .close-images,
.btn-close:focus .close-images{
    fill: #fff;
}



.text-modal{
    font-weight: 500 ;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-field:not(:last-child){
    margin-bottom: 8px;
}

.modal-label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: #8e8f99;

}

.input-form{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    /*width: 360px;
    height: 40px;
    padding-left: 38px;*/
    width: 256px;
    height: 40px;
    padding-left: 34px;


    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: transparent;
    outline: transparent;
}

.modal-input-wrap{
    position: relative;
}

.modal-icon{
    position: absolute;
    left: 16px;
    top:50%;
    transform: translateY(-50%);
    fill:#2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:hover,
.input-form:focus{
    border-color:#4d5ae5 ;
    box-shadow: none;
}

.input-form:hover,
.input-form:focus + .modal-icon{
    fill: #4d5ae5;
}

.modal-field.modal-field-comment{
    margin-bottom: 16px;
}

/*.label-comment{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;
}*/

.textarea-form{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    /*width: 360px;
    height: 120px;*/
    width: 256px;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: rgba(46, 47, 66, 0.4);

    background-color: transparent;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form:hover,
.textarea-form:focus{
    border-color: #4d5ae5;
    box-shadow: none;
}

.textarea-form::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16; 
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}


.input-checkbox{
    margin-bottom: 24px;
}

.checkbox-form.visually-hidden{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0)
}

/*.text-checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    
}
*/  


.link-policy {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-policy:hover,
.link-policy:focus{
    text-decoration: underline;
}

.modal-label .modal-checkbox-icon{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    

}

.modal-checkbox-icon{
    display: inline-flex;
}



.checkbox-form:checked + .modal-label span{
    background-color: #404bbf;
    border: none;
    fill:#f4f4fd;


}





.btn-form{
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;

    cursor: pointer;
}

.btn-form:hover,
.btn-form:focus{
    background-color:#404BBF ;
    
}



/*---------MODAL-----*/



@media screen and (min-width:768px){
    .container{
        max-width: 768px;
    }
    /*----header---*/
    .btn-menu{
        display: none;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .link-logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
    display: flex;
    gap: 40px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link.current {
        position: relative;
    }
    
    .nav-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
    
    }
    
    .nav-item .nav-link:hover,
    .nav-item .nav-link:focus,
    .nav-link.current {
        color: #404bbf;
    
    
    }

    .contacts{
        font-style: normal;
        display: block;
    }


    /*----header---*/

    /*----hero---*/

    
}


@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

}